.option {
  background-color: var(--purple);
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.4s;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.option:hover {
  opacity: 1;
}

#options-container .option p {
  margin-bottom: 0;
}

.correct {
  background-color: var(--green);
  font-weight: bold;
}

.correct::after {
  content: url("/src/assets/img/icon-correct.svg");
  padding-left: 1rem;
  width: 24px;
  filter: invert();
}

.wrong {
  background-color: var(--purple);
  opacity: 0.4;
}

.selected::after {
  content: url("/src/assets/img/icon-wrong.svg");
  padding-left: 1rem;
  width: 24px;
  filter: invert();
}

.hide {
  display: none;
}
